.App {
  text-align: center;
}

h1{ 
  color: blue;
}

p{ 
  color: purple;
}

.decrement {
  background-color: red;
  color: white;
}

.increment {
  background-color: green;
  margin-left: 10px;
}

.reset {
  background-color: orange;
  margin-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
